
{% extends './layout.html' %} 

{% block content %}
<div class="container-fuild">
    <ol class="breadcrumb">
        <li>
            <a href="#">用户管理</a>
        </li>
        <li>分类首页</li>
    </ol>
    <table class="table table-hover">
        <tr class="active">
            <th>ID</th>
            <th>分类名称</th>
            <th>操作</th>
            
        </tr>
        {% for category in categories %} 
        <tr class="warning">
            <th>{{ category.id }}</th>
            <th>{{ category.category_name }}</th>
            <th>
                <a href="/admin/category/edit?id={{ category.id }}">修改</a> | <a href="/admin/category/delet?id={{ category.id }}">删除</a>
            </th>
        </tr>
        {% endfor %}
    </table>
    {% include '../components/page.html' %}
</div>

{% endblock %}